{% extends "template.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<header>
    <div id="vcenter">
      <div id="container">
        <h1 id="title">CLIry</h1>
        <h2>Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div id="alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <form id="login" action="" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username.label(id="label") }}
        {% if form.username.errors %}
            <div id="invalid-feedback">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.username() }}

        {{ form.password.label(id="label") }}
        {% if form.password.errors %}
            <div id="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.password }}

        {{ form.submit() }}
      </form>
      <a href="{{ url_for('signup') }}"><button>SIGN UP</button></a>
  </header>
{% endblock %}